*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color:#191919;
}
img{width:100%;}
li{list-style-type:none;}
button{ cursor: pointer;}
.align-item-center{align-items: baseline;}
.d-flex{
    display:flex;
    flex-wrap: wrap;
}
.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -200%;
    width: 220px; 
    background-color: #1a1c22;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px 0 0 0; 
    opacity:0;
    visibility:hidden;
    transition:all 0.5s ;
}
.dropdown-item {
    display: block;
    color: #e2e4e9;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.2s;
}
.dropdown-item:hover {
    background-color: #262933;
    border-radius:6px;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.container{
    width:100%;
    padding:0px 40px;
}
.row{
    width:100%;
    /* background-color: rgb(233, 70, 70); */
    display:flex;
    flex-wrap:wrap;
}
.section1{
    width:5%;
    /* background-color:green; */
    padding:15px;
}
.logo img {width:50px;}
.section2{
    width:55%;
    /* background-color:pink; */
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:0px 0px;
}
.nav-bar{
    display:flex;
    font-size:16px;
    width:100%;
}
.grid{
    color:rgb(236, 232, 232);
    font-weight:450;
}
.nav-bar a{
    text-decoration:none;
    color:rgb(236, 232, 232);
    font-weight:450;
    padding:0px 14px;
}
.nav-bar a:hover{
    color:#ffffff;
    border-bottom:1px solid #ffffff;
}
.section3{
    width:40%;
    /* background-color:#1A98ff; */
    display: flex;
    align-items:baseline;
    justify-content: space-evenly;
    padding:15px;
}
.search-btn{
    border:1px solid white;
    border-radius:10px;
    color:rgb(207, 207, 224);
    width:348px;
    height:38px;
    display:flex;
    justify-content:flex-start;
    margin:5px 10px 0px 0px;
}
.search-btn input , button{
    color:rgb(207, 207, 224);
    font-size: 16px;
}
.search-btn input{flex-grow:15;}
.pro {
    text-decoration: none;
    background-color: transparent;
    border:none;
    width:100%;
}
.search-btn .search{
    width:285px;
    padding:9px 0px;
}
.search-btn .btn{padding:9px 0px;}
.hed-phone{
   font-size:1.5rem;
}
.btn-lang{
    border-radius: 50%;
    width:40px;
    height:40px;
    background-color:#ffffff0d;
    margin:6px 10px 0px 0px;
    padding:7px 0px;
    transition: all 0.5s;
}
.btn-lang:hover{
    background-color:#3a3a46;
    transform: scale(1.1,1.1);
}
.btn-lang button{
    font-size:20px;
    color:#ffffff;
}
.login-btn{
    width:68px;
    height:38px;
    border:2px solid white;
    border-radius:5px;
    font-size:12px;
    color:#ffffff;
    padding:10px 12px;
    font-weight:700;
    margin:6px 10px 0px 0px;
    transition: all 1s;
}
.login-btn:hover{
    background-color: #ffffff;
    color:black;
}
.buy-btn{
    width:101px;
    height:38px;
    border-radius:6px;
    font-size:12px;
    color:#000000;
    padding:11px 10px;
    font-weight:750;
    margin:6px 10px 0px 0px;
    background-color:#ffffff;
}
.buy-btn:hover{
    background-color:#4F4F59;
    color:rgb(255, 255, 255);
}
